.login_form {
	font: inherit;
	color: black;
	position: fixed;
	padding: 2rem;
	z-index: 10;
	font-size: 20px;
	width: 20%;
	background-color: whitesmoke;
	border-radius: 10px;
	min-width: 235px;
	margin: 5% auto;
	left: 0;
	right: 0;
	top: 20%;
}

.login_label {
	display: table;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login_btn {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	background-color: rgb(100, 0, 50);
	color: white;
	border: 2px solid rgb(100, 0, 50);
	margin-bottom: 10px;
	width: 60%;
	display: table;
	margin: 0 auto;
	margin-top: 10px;
}

.login_input {
	margin-top: 10px;
	margin-bottom: 10px;
	display: table;
	margin: 0 auto;
	width: 80%;
	border-radius: 3px;
}
